.advantages {
	@include content-padding;
	position: relative;
	width: 320px;
  margin: 0 auto;
  padding-bottom: 50px;

  background-color: $dim-grey;

  &::after {
    @include delimiter($bg-lightgrey);
  }

  .owl-theme .owl-dots .owl-dot {
    border: 1px solid $white;

    &.active {
      background-color: $white; 
    }
  }
}

.advantages__list {
	@include list-reset();

	span {
		text-transform: capitalize;
	}
}

.advantages__item {
    padding: 150px 25px 0;
    text-align: center;

    &--fast {
      background-image: url("../img/icon-scissors.svg");
      background-repeat: no-repeat;
      background-position: center top 25px;
      background-size: 95px 94px;
    }

    &--cool {
      background-image: url("../img/icon-chair.svg");
      background-repeat: no-repeat;
      background-position: center top 25px;
      background-size: 95px 88px;
    }

    &--price {
      background-image: url("../img/icon-stamp.svg");
      background-repeat: no-repeat;
      background-position: center top 25px;
      background-size: 95px 91px;
    }
  }

.advantages__title {
	 @include title-mobile($font-lightgrey);
	 margin-bottom: 15px;
}

.advantages__description {
	margin: 0;
	margin-bottom: 30px;
	color: $font-lightgrey;
}

@include media-breakpoint-up(md) {
  .advantages {
    width: 768px;
    padding-bottom: 418px;

    background-color: $bg-grey;

    .owl-theme .owl-nav {
      display: none;
    }

    .owl-theme .owl-dots {
      display: none;
    }

    .owl-carousel .owl-stage-outer  {
      overflow: visible; 
    }

    .owl-carousel .owl-stage {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      transform: none !important;

      .owl-item.cloned {
        display: none;
      }

      .owl-item {
        padding: 0 35px;
        border-bottom: 1px solid $btn-dark;
      }
      .owl-item:nth-last-child(3) {
        border: none;
      } 
    }
  }

  .advantages__list {
    span {
      text-transform: none;
    }
  }

  .advantages__item {
    padding-top: 45px;
    padding-left: 130px;
    text-align: left;

    &--fast {
      background-position: left bottom 35px;
    }

    &--cool {
      background-position: left bottom 35px;
    }

    &--price {
      background-position: left bottom 35px;
    }
  }

  .advantages__title{
    text-align: left;
  }

  .advantages__description {
    margin-bottom: 38px;

    br {
      display: none;
    }
  }
}

@include media-breakpoint-up(xl) {
  .advantages {
    width: 1200px;
    padding-top: 80px;
    padding-bottom: 109px;

    .owl-carousel .owl-stage {
      display: flex;
      flex-direction: row;

      .owl-item {
        padding: 0;
        border-right: 1px solid $btn-dark;
        border-bottom: none;
      }
      .owl-item:nth-last-child(3) {
        border: none;
      } 
    }
  }

  .advantages__list {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .advantages__item {
    width: 320px;
    padding: 125px 50px 0;
    text-align: center;

    &--fast {
      background-position: center top;
    }

    &--cool {
      background-position: center top;
    }

    &--price {
      background-position: center top;
    }
  }

  .advantages__title{
    text-align: center;
  }

  .advantages__description {
    margin: 0;

    br {
      display: block;
    }
  }
}