.slider__toggles {
	width: 125px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.slider__toggle {
	width: 8px;
  height: 8px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;

  transform: rotate(45deg);

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #959595;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__toggle--dark {
  border: 1px solid $white;

  &-active {
    background-color: $white;
  }
}

.slider__toggle--light {
  border: 1px solid $bg-grey;

  &-active {
    background-color: $black;
  }
}